<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [ngStyle]="{'background-color': background}" style="color: white;" text-center>
  <h2>Mobile Veterinary Clinic of North Texas</h2>
  <p>Sanger, TX 76266</p>
  <p>Phone: <a href="tel:19409900862">(940) 990-0862</a></p>
  <p>Monday - Friday 8:30 AM - 6:00 PM</p>
  <p>Saturday & Sunday - By Appointment Only</p>
  <h4>Send us a message</h4>
  <ion-list no-lines>
    <form [formGroup]="contact" (ngSubmit)="send()">
      <!-- Name -->
      <ion-item>
        <ion-label floating>Name *</ion-label>
        <ion-input type="text" [(ngModel)]="userInfo.name" formControlName="name" [class.invalid]="!contact.controls.name.valid && contact.controls.name.dirty" [class.valid]="contact.controls.name.valid && contact.controls.name.dirty"></ion-input>
      </ion-item>
      <ion-item *ngIf="!contact.controls.name.valid && contact.controls.name.dirty">
        <p class="validation">Please enter a valid name</p>
      </ion-item>
      <!-- Phone Number -->
      <ion-item>
        <ion-label floating>Phone *</ion-label>
        <ion-input type="tel" [(ngModel)]="userInfo.phone" (ionChange)='phoneChanged()' formControlName="phone" [class.invalid]="!contact.controls.phone.valid && contact.controls.phone.dirty" [class.valid]="contact.controls.phone.valid && contact.controls.phone.dirty"></ion-input>
      </ion-item>
      <ion-item *ngIf="!contact.controls.phone.valid && contact.controls.phone.dirty">
        <p class="validation">XXX-XXX-XXXX format</p>
      </ion-item>
      <!-- Email -->
      <ion-item>
        <ion-label floating>Email *</ion-label>
        <ion-input type="email" [(ngModel)]="userInfo.email" formControlName="email" [class.invalid]="!contact.controls.email.valid && contact.controls.email.dirty" [class.valid]="contact.controls.email.valid && contact.controls.email.dirty"></ion-input>
      </ion-item>
      <ion-item *ngIf="!contact.controls.email.valid && contact.controls.email.dirty">
        <p class="validation">Please enter a valid email</p>
      </ion-item>
      <!-- Message -->
      <ion-item>
        <ion-label floating>Message *</ion-label>
        <ion-textarea type="text" [(ngModel)]="userInfo.message" formControlName="message" [class.invalid]="!contact.controls.message.valid && contact.controls.message.dirty" [class.valid]="contact.controls.message.valid && contact.controls.message.dirty"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="!contact.controls.message.valid && contact.controls.message.dirty">
        <p class="validation">Please enter a message</p>
      </ion-item>
      <ion-item></ion-item>
      <button ion-button round color="secondary" type="submit" [outline]="!contact.valid" [disabled]="!contact.valid">Submit</button>
    </form>
  </ion-list>
</ion-content>
